<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Add New Title</title>
</head>
<body>

<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>

    <form method="POST" th:action="@{/librarian_home/add_title}" th:object="${title}">
        <h1>Please add Title information</h1>

        <a th:href="@{title}" id="another">Add another Title</a><br/>

        <label for="name">Title Name: </label>
        <input type="text" th:field="*{name}"/>
        <br/>

        <input type="submit" value="Submit"/>
    </form>

    <form method="POST" th:action="@{/librarian_home/add_title/redirect}">
        <input type="submit" value="Add New Copies"/>
    </form>
</div>

<div th:replace="fragments/layout :: footerFragment"></div>
</body>
</html>
