<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Login Page</title>
</head>
<body>

<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div>
        <h1>Welcome to the login page</h1>
        <p>Here you can log in with a registered patron user.</p>
    </div>

    <form class="form-horizontal" role="form" method="POST" th:action="@{/authenticate}">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" >
                <div th:if="${param.error}"  class="login-notification">
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}"  class="login-notification">
                    You have been logged out.
                </div>
                <div th:if="${param.warning}"  class="login-notification">
                    You have to log in to access that page.
                </div>
                <!--<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"> </div>-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Log in</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="username">Username</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="text" class="form-control" id="username"
                               placeholder="Username" name="username" required autofocus>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" class="form-control" id="password"
                               placeholder="Password" name="password" required autofocus>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="remember_me">.</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="_spring_security_remember_me" id="remember_me"/> Remember me
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i>Log in</button>
                <p><a th:href="@{/signup}">Create new account</a></p>
                <p><a th:href="@{/admin/login}">Librarian access</a></p>
            </div>
        </div>
    </form>
    <div>
        <p> - - - </p>
        <p> P.S. administrators log in with this form as well, authorites depend on the role your user has set.</p>
        <p>Please don't hack any user accounts.</p>
    </div>

</div>

<div th:replace="fragments/layout :: footerFragment"></div>
</body>
</html>
