<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title th:text="Details - ${title.name}" id="pageTitle">error in the title</title>
</head>
<body>

<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>

    <div th:if="${title}">
        <h3 th:text="@{Details on (${title.name})}"></h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Available copies</th>
                <th> - </th>
            </tr>
                <td th:text="${title.name}"></td>
                <td th:text="${copies.size()}"></td>
                <td>
                    <a th:if="${copies.size() >= 1}" th:href="@{/checkout_add_title(id=${title.id})}">borrow</a>
                    <a th:if="${copies.size() <= 0}" th:href="@{/reserve(id=${title.id})}">reserve</a>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="not ${title}">Sorry, that must be have been an error.</div>


<!--    <div th:if="${title}">
        <form method="GET" th:action="/patron/borrow(id=${title.id})">
            <input type="submit" value="Borrow"/>
        </form>
    </div>-->

</div>

<div th:replace="fragments/layout :: footerFragment"></div>
</body>
</html>
