<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<div class="masthead" th:fragment="navbar">

    <div class="header">
        <img th:src="@{~/images/logo.png}" alt="logo" />
        <h1>Kaica_Lib Online!</h1>
    </div>


    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li>
                        <a sec:authorize="isAuthenticated()" th:href="@{/patron/profile}">Home</a>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/}">Home</a>
                    </li>
                    <li><a th:href="@{/patron/view_loans}">Loans</a></li>
                    <li><a th:href="@{/patron/view_reservations}">Reservations</a></li>
                    <li><a th:href="@{/patron/patron_search}">Search(old)</a></li>
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/patron/copy_scan}">Scan</a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
        <div> Hello:
            <span sec:authentication="name">logged-in-users-username</span>
            <span sec:authorize="hasRole('ADMIN')">(auth submit a form for testing ADMIN)</span>
        </div>
    </div><!-- /.navbar -->
</div>

