<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Kaica Library</title>
</head>
<body>

<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>

    <form method="POST" th:object="${copy}">
        <h1>Select a title</h1>

        <div th:each="title" : ${}


        <input type="submit" value="Search title"/>
    </form>
</div>

<div th:replace="fragments/layout :: footerFragment"></div>
</body>
</html>
