<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Search library titles</title>
</head>
<body>

<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>

    <form method="POST" th:action="@{/search_results}" th:object="${command}">

        <h1>Please enter your search</h1>

        <p>
            Enter your search string:
            <input type="text" th:field="*{titleSearchString}" />
        </p>

        <input type="submit" value="Submit"/>

    </form>
</div>

<div th:replace="fragments/layout :: footerFragment"></div>
</body>
</html>
