<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Add New Copy</title>
</head>
<body>

<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>

    <form method="POST" th:action="@{/search_add_copy/display_search_results/add_selected}">
        <h1>Add another copy for this title</h1>
        <input type="submit" value="New Copy"/>
    </form>
</div>

<div th:replace="fragments/layout :: footerFragment"></div>
</body>
</html>

