<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Current items on loan</title>
</head>
<body>

<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>

    <table>
        <tr>
            <th>Book Title</th>
            <th>Loaned At</th>
            <th>Return Date</th>
            <th>Renew Loan</th>
        </tr>

        <tr th:each="loan : ${loans}" th:value>
            <td th:text="${loan.copy.title.name}">Loan Name</td>
            <td th:text="${loan.createdAt}">Loan Date</td>
            <td th:text="${loan.returnDate}">Return Date</td>
            <td>
                <!-- I'm doing this wrong, but don't have a clue what I'm actually up to so leaving it for now -->
                <form th:each="loan : ${loans}" method="POST" th:action="@{/patron/view_loans/cancel}" th:object="${loanWrapper}">
                    <input type="submit" value="Renew Loan" th:value="${loan.copy.title.name}"/>
                </form>
            </td>
        </tr>
    </table>


    <form method="GET" th:action="@{/patron}">
        <input type="submit" value="Home">
    </form>

    <div class="gap-10"></div>
</div>

<div th:replace="fragments/layout :: footerFragment"></div>
</body>
</html>
