<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Current items on loan</title>
</head>
<body>

<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>

    <div th:if="${not #lists.isEmpty(loans)}">
        <table>
            <tr>
                <th>Book Title</th>
                <th>Loaned At</th>
                <th>Return Date</th>
                <th>Renew Loan</th>
            </tr>
            <tr th:each="loan : ${loans}" th:value>
                <td th:text="${loan.copy.title.name}">Loan Title Name</td>
                <td th:text="${loan.createdAt}">Loan Created Date</td>
                <td th:text="${loan.returnDate}">Loan Return Date</td>
                <td><a th:href="@{/checkout_renew_loan(id=${loan.id})}">Renew loan</a></td>
            </tr>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(loans)}" class="alert alert-success">No loans currently registered.</div>

</div>

<div th:replace="fragments/layout :: footerFragment"></div>
</body>
</html>
