<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Welcome to Kaica Library!</title>
</head>
<body>

<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>


    <div>
        <h1>Welcome</h1>
        <p>Here you can search and borrow books and films.</p>
        <p>Create a new user and start borowing!</p>
        <p>Please don't hack any user accounts.</p>
    </div>

    <div>
        This will log in an admin user and add a title for them.
        <form method="GET" th:action="@{/login/admin/auto}">
            <input type="submit" value="Librarian Auto Log In"/>
        </form>
    </div>

    <div>
        This will log in a testing user and add a loan for them.
        <form method="GET" th:action="@{/login/auto}">
            <input type="submit" value="Patron Auto Log In"/>
        </form>
    </div>

    <p><a th:href="@{/test}">Test redirect depending on login status</a></p>
</div>

<div th:replace="fragments/layout :: footerFragment"></div>
</body>
</html>
